$gray-base: #f5f5f7 !default; // background
$gray-dark: #838790 !default;
$gray: #c5c7cb !default;
$gray-light: #d7dde4 !default;
$blue-light: #00ccff !default;

$brand-primary: #2e71f0 !default; // main blue
$brand-success: #00ae42 !default; // green
$brand-info: #ffcc00 !default; // darker-yellow
$brand-warning: #faca20 !default; // yellow
$brand-danger: #dd382c !default; // red
$brand-blue: #2e71f0 !default;

$brand-white: #ffffff !default;
$brand-header: #36466b !default;

$transparent: rgba($color: $brand-white, $alpha: 0.0) !default;

// Scaffolding
$text-color: #262930 !default;
$border-focus-color: #00ccff !default;

$link-color: $brand-primary !default;
$link-decoration: solid !default;
$link-hover-color: lighten($link-color, 10%) !default;
$link-visited-color: lighten($link-color, 20%) !default;

// Typography
$font-family-base: 'Open Sans', sans-serif, Arial !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;

$font-size-base: 14px !default;
$font-size-small: 13px !default;
$font-size-additional: 12px !default;
$font-size-x-small: 11px !default;
$font-size-icon: $font-size-x-small !default;

$font-size-h1: 18px !default;
$font-size-h2: 16px !default;

$line-height-base: 26px !default;
$line-height-large: 28px !default;
$line-height-small: 18px !default;
$line-height-x-small: 16px !default;

// Components
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;


// Buttons
$btn-font-weight: $font-weight-medium !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-default-color: $gray-dark !default;
$btn-default-bg: $gray-base !default;
$btn-default-border: $gray-dark !default;
$btn-default-hover-color: $brand-white !default;
$btn-default-hover-bg: $gray-dark !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:   $border-radius-base !default;
$btn-border-radius-large:  $border-radius-large !default;
$btn-border-radius-small:  $border-radius-small !default;

$btn-border-width: 1px !default;

$btn-padding-x: 20px !default;
$btn-padding-y: 4px !default;

$btn-transition: all .2s ease-in-out !default;
$btn-ripple-effect-transition: background 0.8s !default;

$cursor-disabled: not-allowed !default;

// Media queries breakpoints
$screen-phone-5: 320px !default;
$screen-phone-6: 480px !default;
$screen-tablet: 768px !default;
$screen-desktop: 992px !default;
$screen-lg-desktop: 1200px !default;


// So media queries don't overlap when required, provide a maximum
$screen-phone-5-min: $screen-phone-5 !default;
$screen-phone-5-max: ($screen-phone-6 - 1) !default;

$screen-phone-6-min: $screen-phone-6 !default;
$screen-phone-6-max: ($screen-tablet - 1) !default;

$screen-tablet-min: $screen-tablet !default;
$screen-tablet-max: ($screen-desktop - 1) !default;

$screen-desktop-min: $screen-desktop !default;
$screen-desktop-max: ($screen-lg-desktop - 1) !default;


// Labels
$label-color: $text-color !default;
$enable-rounded: true !default;